<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="ProFak" Language="1045" Codepage="1250" Version="1.0.0.0" Manufacturer="Łukasz Kosson" UpgradeCode="a5ae434f-8f80-4ac6-ac2c-582d66836a84">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="Nowsza wersja programu jest już zainstalowana." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="ProFak" Level="1">
			<ComponentGroupRef Id="Pliki" />
			<ComponentRef Id="SkrotPulpit" />
			<ComponentRef Id="SkrotStart" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="KatalogProgramu" Name="ProFak">
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="KatalogStart" Name="ProFak" />
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop">
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="SkrotPulpit" Guid="97D4EF04-2D78-426C-B67F-843B98E1B436" >
				<Shortcut Id="AppDesktopShortcut" Name="ProFak" Target="[KatalogProgramu]ProFak.exe" WorkingDirectory="KatalogProgramu"/>
				<RemoveFolder Id="DesktopFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\ProFak" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<DirectoryRef Id="KatalogStart">
			<Component Id="SkrotStart" Guid="FDAEB85F-7CFA-4912-865F-0E3993B23EB6">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="ProFak" Target="[KatalogProgramu]ProFak.exe" WorkingDirectory="KatalogProgramu" />
				<RemoveFolder Id="KatalogStart" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\ProFak" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
